node_modules
dist
Dockerfile
notes.org
notes.org~
.tmp
.env.example
.gitignore
.editorconfig
.cache
__mocks__/
__tests__/
node_modules/
.cache/
anima/
public/
public-auto/
public-container/
snippets/
stories/
wip/